## basics 
pd.dataFrame(data,index,column)
print(df)
pd.dataFrame(data,index=[],column=[])
dataFrame from dictionary ==> dictionary keys are taken as labels
pd.Series([],index=[]) ==== for pandas series 
pd.dataFrame(df,column=[])
pandas attributes: 
df.size() ==  integer representation of no of elements in df 
df.shape() === (row X column) 
df.axes === give the list of axes 
df.column ===  give name of columns 
df.values  ===> numpy representation of values 
df.empty  ===> pandas df is empty or not 

## column operations 
selecting column === df.<columnName>
adding row to column :
    df["a"]=["val1","val2"...]

selection of columns :
    df.iloc[:]
    df.loc["colName"]
    df.drop("<col>",axis=1) === drop entire column 
    df.drop(2) === drop line/row 2 as default axis is 0
    df.rename(,axis=inde/column)
    df.rename(column:())
    df.rename({<element>:'R1'...},axis=index)
    
## access dataFrame
df.loc[startRow:endRow,:] === location based access
df.iloc[:,:,step] ========= for index based access 
df.loc[<col1>,<col2>] ==== select multiple column 
note: both row and column ends are included in o/p
    
pandas : 3 type of joining 
        join  === index based by default 
        merge === join on column byu default 
        concat ==== side by side or one top on another
    
    pd.merge(df1,df2,how=<outer/inner/fullOuter>,leftIndex=<>,RightIndex)
    df1.join(df2,on,how)
    
##  methods on whole df 
head()
tail()
transpose()
copy()
describe()
info()


## Pandas TIme stamp 
point in time == Timestamp
span of time == period 
Index === timestamp ---> timestampIndex 
          Period ---> Period Index 
          frequency ---> sec s, min T , Day D , Hour H , B business day 
          
.to_DateTime()
to_period()
to_timeStamp()
pandas dataFrame --- pandas series object 
python series object ---> nupy 1-d array 
python series object is of same data type 

# properties of DataFrame 
has axes 
row Index = axis 0 
column Index = axis 1
hetrogeneous data 
date is mutable

In [9]:
## creating dataFrame from Series , List , dictionary ,, a numpy 2 D array 
import pandas as pd 
import numpy as np

In [3]:
## creating empty dataFrame 
dfempty=pd.DataFrame()
print(dfempty)

Empty DataFrame
Columns: []
Index: []

In [5]:
#  creating datFrame from list of Dictionary 
l=[{'a':"amit",'b':"bro",'c':"chetan",'d':"dom"},
   {'a':"akash",'b':"bran",'c':"chahal"},
   {'a':"adobe"},
   {'b':"bobtheBuilder"}]

df1=pd.DataFrame(l)
df1

# keys are treated as column label , row lebels takes default value starting from zeros ,NaN

       a              b       c    d
0   amit            bro  chetan  dom
1  akash           bran  chahal  NaN
2  adobe            NaN     NaN  NaN
3    NaN  bobtheBuilder     NaN  NaN

In [7]:
# creating dataFrame from list 
a=[[1,"amit"],[2,"piyush"],[3,"shubham"],[4,"viplav"]]
df2=pd.DataFrame(a)
df2

## default column names are 0 ,1

   0        1
0  1     amit
1  2   piyush
2  3  shubham
3  4   viplav

In [17]:
## adding index and columns to dataFrame 
df3=pd.DataFrame(a,index=["i","ii","iii","iV"],columns=["no","name"])
df3

     no     name
i     1     amit
ii    2   piyush
iii   3  shubham
iV    4   viplav

In [20]:
# creating dataFrame from dictionary 
dct2={"number":[1,2,3,4,5],"salary":[10,20,30,50,60]}
df=pd.DataFrame(dct2)
df

   number  salary
0       1      10
1       2      20
2       3      30
3       4      50
4       5      60

In [29]:
# creating dataFrame from columns 
d2={"rollNo":pd.Series([1,2,3,4],index=[1,2,3,4]),"Total":pd.Series([350.0,400,420],index=[1,2,4]),\
                "percentage":pd.Series([70,50,60,50],index=[1,2,3,4])}
df=pd.DataFrame(d2)
df

# here we added total in specific index

   rollNo  Total  percentage
1       1  350.0          70
2       2  400.0          50
3       3    NaN          60
4       4  420.0          50

In [52]:
# creating dataframe from another dataframe 
df2=pd.DataFrame(df,columns=["rollNo","percentage"])
df2
df=df2
## here we took only columns that are required

In [34]:
## dataFrame attributes
print(df2.size)

8

In [35]:
print(df2.axes)
# represent a list representaion of axes of DataFrame

[Int64Index([1, 2, 3, 4], dtype='int64'), Index(['rollNo', 'Total', 'percentage'], dtype='object')]

In [36]:
print(df2.ndim)
# print the int representation of number of axes / array dimensions

2

In [39]:
print(df2.columns)
# give column names

Index(['rollNo', 'percentage'], dtype='object')

In [40]:
print(df2.values)
# gives numpy representaion of dataframe

[[ 1 70]
 [ 2 50]
 [ 3 60]
 [ 4 50]]

In [42]:
df2.empty
# shows if dataFrame is empty

False

In [51]:
print(df2["rollNo"])
## for selecting column 
print(df2.rollNo)

1    1
2    2
3    3
4    4
Name: rollNo, dtype: int64
1    1
2    2
3    3
4    4
Name: rollNo, dtype: int64

In [59]:
## adding column in  in dataFrame 
print(df2)
df2["maths_rollNo"]=[1,2,4,5]
df2

   rollNo  percentage  maths_rollNo
1       1          70             1
2       2          50             2
3       3          60             4
4       4          50             5

   rollNo  percentage  maths_rollNo
1       1          70             1
2       2          50             2
3       3          60             4
4       4          50             5

In [60]:
## replacing valus of column in dataFrame  if its at smae index
df2["percentage"]=[71,81,61,51]
df2

   rollNo  percentage  maths_rollNo
1       1          71             1
2       2          81             2
3       3          61             4
4       4          51             5

In [70]:
## ading  single rows in data frame
df2.loc[len(df.index)] = [2, 89, 93]
df2

## it added row by using length of index

   rollNo  percentage  maths_rollNo
1       1          71             1
2       2          81             2
3       3          61             4
4       2          89            93

In [81]:
## addinf new column in dataFrame 
df2.loc[:,"newColumn"]=['a','b','c','d']
df2

# if index dont match we get index error

   rollNo  percentage  maths_rollNo newColumn
1       1          71             1         a
2       2          81             2         b
3       3          61             4         c
4       2          89            93         d

In [78]:
# ## adding row with row index or row name 
# df2.loc[5:7]=[12,14,18]
# df2
# df2.shape

(4, 3)

In [67]:
## accessing df columns via loc  ie show row 1 and 2 
df2.loc[1:2]

   rollNo  percentage  maths_rollNo
1       1          71             1
2       2          81             2

In [79]:
# with iloc
df2.iloc[1:2]
# with iloc start: stop : step here stop is not included

   rollNo  percentage  maths_rollNo
2       2          81             2

In [ ]:
# note either of this works 
# df.loc[rowname,:] =[] === to add  new row 
#  df.loc[:,columns]=[] == to add column

In [83]:
## droping the column or orw 
df2
df2.drop("newColumn",axis=1)

   rollNo  percentage  maths_rollNo
1       1          71             1
2       2          81             2
3       3          61             4
4       2          89            93

In [85]:
# again adding this 
df2.loc[:,"newColumn"]=['a','b','c','d']
df2

   rollNo  percentage  maths_rollNo newColumn
1       1          71             1         a
2       2          81             2         b
3       3          61             4         c
4       2          89            93         d

In [86]:
# drop the rows 
df2.drop(4)
## this has droped row with row no 4

   rollNo  percentage  maths_rollNo newColumn
1       1          71             1         a
2       2          81             2         b
3       3          61             4         c

In [ ]:
## renaming the dataframe columns 
# df.rename(index={names dictionary},columns={names dictionary},inplace=True)
# or 
#  df.rename({name dictionary},axes=index/column)

In [88]:
df2.rename({"rollNo":"RollNumber"},axis=1,inplace=True)
df2

# here inplace will make permanent change to datFrame

   RollNumber  percentage  maths_rollNo newColumn
1           1          71             1         a
2           2          81             2         b
3           3          61             4         c
4           2          89            93         d

In [ ]:
#  note acessing the dataFrame
#  dataFrameName.loc[startRow:endRow,startCOlumn:EndColumn]
#  dataFrameName.iloc[startRowIndex:endRowIndex,startColumnIndex:EndColumnIndex]

## here basic dataFrame is complete from now on